footer
  .footer-content
    .footer-logo
      img(src="logo.png" alt="Motion Store")
    .footer-links
      .store
        h3 Store
        ul
          li: a(href="#") Shop
          li: a(href="#") Shipping & Returns
          li: a(href="#") Store Policy
          li: a(href="#") FAQ
      .contact
        h3 Contact
        address
          p 500 Terry Francine Street
          p San Francisco, CA 94158
          p Tel: 123-456-7890
          p info@mysite.com
      .follow-us
        h3 Follow Us
        a(href="#") 
          i.instagram
        a(href="#") 
          i.facebook
        a(href="#") 
          i.tiktok
