header
  .top-bar
    span +123 456 789
    span Subscribe to Our Newsletter and Get 10% Off Your Next Purchase
    span Worldwide delivery
    span.lang(lang="lang") 🇬🇧
  nav.navbar
    .logo
      img(src="logo.png" alt="Motion Store")
    .search-bar
      input(type="text" placeholder="search for...")
    .icons
      a(href="#") i.fa.fa-heart
      a(href="#") i.fa.fa-shopping-cart
      a(href="#") i.fa.fa-user
  ul.nav-links
    li: a(href="#") football
    li: a(href="#") basketball
    li: a(href="#") volleyball
    li: a(href="#") tennis
    li: a(href="#") running
    li: a(href="#") hockey
    li: a(href="#") other
