main
  .hero
    img(src='hero-image.jpg' alt='Home Workout Essentials')
    .hero-text
      h1 Your Essentials for a Perfect Home Workout
  .brands
    img(src='../images/nike.png' alt='nike')
    img(src='../images/adidas.png' alt='adidas')
    img(src='../images/asics.png' alt='asics')
    img(src='../images/under_armour.png' alt='under-armour')
    img(src='../images/hoka.png' alt='hoka')
    img(src='../images/umbro.png' alt='umbro')
    img(src="../images/lotto.png", alt="lotto")
  .latest-collection
    h2 Shop the latest Football Collection
    .products
      .product
        img(src='../images/shoe.jpg' alt='adidas Predator League FG')
        p adidas Predator League FG
        span 50&euro;
        button Add to cart
      .product
        img(src='../images/shoe.jpg' alt='adidas Predator League FG')
        p adidas Predator League FG
        span 50&euro;
        button Add to cart
      .product
        img(src='../images/shoe.jpg' alt='adidas Predator League FG')
        p adidas Predator League FG
        span 50&euro;
        button Add to cart
      .product
        img(src='../images/shoe.jpg' alt='adidas Predator League FG')
        p adidas Predator League FG
        span 50&euro;
        button Add to cart
      .product
        img(src='../images/shoe.jpg' alt='adidas Predator League FG')
        p adidas Predator League FG
        span 50&euro;
        button Add to cart
  .shop-by-sport
    h2 Shop by Type of Sport
    .sports
      .sport
        img(src='../images/basketball.jpg' alt='Basketball')
        span Basketball
      .sport
        img(src='../images/tennis.jpg' alt='Tennis')
        span Tennis
      .sport
        img(src='../images/volleyball.jpg' alt='Volleyball')
        span Volleyball
  .newsletter
    h2 Subscribe to our Newsletter
    form
      input(type='text' placeholder='First Name')
      input(type='text' placeholder='Last Name')
      input(type='email' placeholder='Email')
      label
        input(type='checkbox')
        |  I accept terms and conditions
      button(type='submit') Submit
